.button {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.showtime-container {
  margin: 20px auto;
  padding: auto;
}

.time-range-inline > h4,
span {
  font-size: 20px;
  color: rgb(63, 63, 63);
  font-family: "Dancing Script", cursive;
  font-weight: 600;
}

.time-range {
  display: flex;
  flex-direction: column;
}

.time-range-inline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.time-range-inline:nth-child(1) {
  flex: 0.4;
}

.time-range-inline:nth-child(2) {
  flex: 0.2;
}

.time-range-inline:nth-child(3) {
  flex: 0.4;
}

.button {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 60px;
  background: #f3f0f1;
  position: relative;
  background: #f3f0f1;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}

.button:hover {
  opacity: 0.3;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
}
.button:active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #79e3b6;
}

.modal-content {
  border-radius: 30px;
  width: 120%;
  justify-content: center;
  align-items: center;
}

.modal.show .modal-dialog {
  text-align: center;
  transform: translate(-50px, 130px);
}

.modal-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(109, 109, 109);
  margin: 5px 20px;
}

.close {
  font-size: small;
}

.modal-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.calendar_modal_body {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  flex-grow: 100;
  align-items: stretch;
  padding-top: 1em;
  font-family: Segoe UI, Tahoma, sans-serif;
}

.react-calendar {
  margin: 0 auto;
  width: auto;
}
